body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: #0b0c10;
}

h2 {
  margin-bottom: 40px;
}
main {
  margin: 0 auto;
  padding-top: 200px;
}

#splash-screen {
  font-family: "Montserrat", sans-serif;
  color: #ff69b4;
  text-shadow: 2px 2px 8px #e60073;
}

#start {
  background-color: transparent;
  border: none;
}

#start:hover {
  transform: scale(1.5);
  transition: 1s;
}

#start span {
  font-size: 100px;
  color: #ff69b4;
}

#home-screen {
  display: none;
}

#services-screen {
  display: none;
}

#calendar {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ff69b4;
}

.clock-display {
  text-align: center;
  font-family: "Audiowide", cursive;
  color: #ff69b4;
  text-shadow: 2px 2px 8px #e60073;
}

.services {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 100px;
}

.services-btn {
  max-width: 200px;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  color: #66fcf1;
  text-shadow: 2px 2px 8px #03a79c;
}

.services-btn:hover {
  border: 2px solid #66fcf1;
}

#timer-screen {
  display: none;
}

input {
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 20px;
  color: #ff69b4;
  box-shadow: 2px 2px 8px #e60073;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ff69b4;
}

#stopwatch-screen {
  display: none;
}

#countdown-screen {
  display: none;
}
