body {
  background-color: #0b0c10;
}

main {
  padding-top: 200px;
}

#calendar {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #ff69b4;
}

#clock {
  display: flex;
  justify-content: center;
  font-family: "Audiowide", cursive;
  color: #ff69b4;
  text-shadow: 2px 2px 8px #e60073;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}
#services button {
  max-width: 200px;
  margin-top: 50px;
  background-color: #66fcf1;
  color: #0b0c10;
}
