body {
  background-color: #0b0c10;
}

main {
  padding-top: 200px;
}

#home {
  display: none;
}

#calendar {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ff69b4;
}

.clock-display {
  text-align: center;
  font-family: "Audiowide", cursive;
  color: #ff69b4;
  text-shadow: 2px 2px 8px #e60073;
}

#services {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 100px;
}

.services-btn {
  max-width: 200px;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  color: #66fcf1;
  text-shadow: 2px 2px 8px #03a79c;
}

.services-btn:hover {
  border: 2px solid #66fcf1;
}
